<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление цехом</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Управление цехом по производству полуфабрикатов и готовой продукции</h1>
    </header>
    <nav>
        <ul>
            <li><a href="warehouse">Склад</a></li>
            <li><a href="orders">Заказы</a></li>
            <li><a href="production">Производство</a></li>
            <li><a href="about">О программе</a></li>
            <!-- Другие разделы -->
        </ul>
    </nav>
    <footer>
        <p>&copy; 2024 Управление цехом. </p>
    </footer>
</body>
</html>
